PORT=4000
NODE_ENV=development

# Odoo (mismo formato que tu app actual)
ODOO_URL=https://TUINSTANCIA.dev.odoo.com
ODOO_DB=TU_DB
ODOO_USERNAME=sistemas@tuempresa.com
ODOO_PASSWORD=TU_API_KEY_O_PASSWORD
ODOO_COMPANY_ID=1

# Nombre de lista de precios cliente final
ODOO_CUSTOMER_PRICELIST_NAME="Predeterminado (ARS)"

# SOLO DEV (por el cert en *.dev.odoo.com)
ALLOW_INSECURE_TLS=true
